:root {
  --primary-color1: #e8f3fc;
  --primary-color2: #1d86e2;
  --primary-color3: #145b9b;
  --primary-color4: #125087;
  --primary-color5: #0f4371;

  --secondary-color3: #ff4800;

  --gray1: #f7f7f7;
  --gray2: #e6e6e6;
  --gray3: #d9d9d9;
  --gray4: #555;
  --gray5: #333;
}

#note {
  white-space: pre-line;
  height: 300px;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.btn-primary2 {
  background-color: var(--primary-color3);
  color: #ffffff;
}

.btn-primary2:hover {
  background-color: var(--primary-color4);
  color: #ffffff;
}

.btn-primary2:focus {
  color: #ffffff;
}

.btn-adjacent {
  margin-left: 21px;
}

.logo {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: var(--primary-color3);
  margin-bottom: 41px;
  text-align: center;
}

#logo-slash {
  color: var(--secondary-color3);
}

.login {
  border-radius: 8px;
  margin-top: 200px;
  border: 1px solid var(--gray3);
  padding-top: 30px;
  padding-bottom: 27px;
}

#sidebar {
  /* border-right: 1px solid var(--primary-color3); */
  /* background-color: var(--gray1); */
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  display: block;
}
@media (max-width: 768px) {
  #sidebar {
    height: auto;
    position: relative;
    border: 0;
    background-color: #ffffff;
  }
}

#main-content {
  margin-bottom: 30px;
  margin-top: 40px;
}

#todo-list {
  list-style-type: none;
  padding-left: 0px;
}

#todo-list a {
  /* color: var(--gray5); */
  color: inherit;
}

.logo-main {
  text-align: left;
  margin-bottom: 21px;
  margin-top: 33px;
  font-size: 26px;
}

.toolbar {
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 1px solid var(--gray2);
  font-weight: 600;
  padding-bottom: 15px;
  margin: 40px 0 15px;
  /* color: var(--primary-color3); */
}

.form-control:focus {
  border-color: var(--primary-color2);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.login-container {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .login-container {
    margin-top: 100px;
  }
}

.short-alert-fixed {
  position: fixed;
  top: 0px;
  left: 45%;
  width: 10%;
  z-index: 9999;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 768px) {
  .short-alert-fixed {
    left: 35%;
    width: 30%;
  }
}

.long-alert-fixed {
  position: fixed;
  top: 0px;
  left: 40%;
  width: 20%;
  z-index: 9999;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 768px) {
  .long-alert-fixed {
    left: 20%;
    width: 60%;
  }
}

.note-icon {
  margin-right: 5px;
}

#title {
  font-size: 1.4em;
}

body {
  font-family: "Open Sans", sans-serif;
}
