@import url("https://fonts.googleapis.com/css?family=Merriweather");

:root {
  --primary-color1: #1d86e2;
  --primary-color3: #145b9b;
  --primary-color4: #125087;

  --secondary-color3: #ff4800;

  --gray1: #f2f2f2;
  --gray2: #e6e6e6;
  --gray3: #d9d9d9;
  --gray4: #555;
  --gray5: #333;
}

#note {
  white-space: pre-line;
  height: 250px;
}

.fade-out {
  /* visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s 2s, opacity 2s linear; */
}

.btn-primary2 {
  background-color: var(--primary-color3);
  color: #ffffff;
}
.btn-primary2:hover {
  background-color: var(--primary-color4);
  color: #ffffff;
}
.btn-primary2:focus {
  color: #ffffff;
}
.logo-text {
  font-size: 25px;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  color: var(--primary-color3);
  margin-bottom: 50px;
  text-align: center;
}
#logo-slash {
  color: var(--secondary-color3);
}
.login {
  border-radius: 15px;
  margin-top: 100px;
  border: 1px solid var(--gray3);
}
#sidebar {
  /* border: 1px solid var(--gray2);
  background-color: var(--gray1);
  height: 1000px;
  overflow-y: auto; */
}
@media (max-width: 768px) {
  #sidebar {
    height: 100%;
  }
}
#todo-list {
  list-style-type: none;
  padding-left: 0px;
}
#todo-list a {
  color: var(--gray5);
  font-size: 14px;
}
.logo-main {
  text-align: left;
  margin-bottom: 30px;
}
.toolbar {
  margin-bottom: 20px;
}
.page-header {
  border-bottom: 1px solid var(--gray2);
  font-weight: bold;
}
.form-control:focus {
  border-color: var(--primary-color1);
  -webkit-box-shadow: none;
  box-shadow: none;
}
