
#note {
	white-space: pre-line;
	height: 250px;
}

#logo-text {
	color:green;
	margin-bottom: 2em;
}

.fade-out {
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s 2s, opacity 2s linear;
}

.empty-msg {
	/*min-height: 72px;*/
}